.child {
    margin: 0 auto;
    min-height: 100vh;
    min-width: 100%;
    width: 100%;
    height: auto;
    background: url(../images/games-pubg-playerunknowns-battlegrounds-54922.jpg);
    background-size: cover;
    transition: all 1s;
    background-position: center;
    z-index: 0;
}

.child:hover,
.child:focus {
    transform: scale(1.05);
}

@media (max-width: 480px) {
    .child {
        background: url(../images/pubg-mobile-falcon-uhdpaper.com-4K-mobile-5.1735.jpg);
        background-size: cover;
    }
}