@font-face {
    font-family: "papu";
    src: url(../fonts/FARRAY.otf);
}

@font-face {
    font-family: "papu1";
    src: url(../fonts/HalogenRoughbyPixelSurplus-Regular.otf);
}

$navfont:"papu";
$logo:"papu1";