@import url(https://fonts.googleapis.com/css?family=Covered+By+Your+Grace);
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:200,900");
@import url("https://fonts.googleapis.com/css?family=Raleway");
@font-face {
  font-family: "papu";
  src: url(../fonts/FARRAY.otf);
}

@font-face {
  font-family: "papu1";
  src: url(../fonts/HalogenRoughbyPixelSurplus-Regular.otf);
}

@font-face {
  font-family: "papu2";
  src: url(../fonts/metallord.otf);
}

@font-face {
  font-family: "papu3";
  src: url(../fonts/B612-Bold.ttf);
}

@font-face {
  font-family: "papu4";
  src: url(../fonts/B612-Regular.ttf);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

html body {
  height: 100%;
  background-color: #121212;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.container {
  min-width: 100%;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #121212;
  font-family: "papu";
  z-index: 2;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.navbar .navbar-brand {
  padding-left: 30px;
  color: #ecf0f1;
  font-family: "papu1";
  font-size: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .navbar-brand img {
  width: 100px;
}

.navbar .navbar-brand p {
  color: #ecf0f1;
  margin: 0;
  padding-top: 15px;
  padding-left: 25px;
}

.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #2069e0;
}

.navbar .navbar-text {
  color: #ecf0f1;
}

.navbar .navbar-text a {
  color: #2069e0;
}

.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
  color: #2069e0;
}

.navbar .navbar-nav .nav-link {
  color: #ecf0f1;
  border-radius: .25rem;
  margin: 0 0.25em;
}

.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #2069e0;
}

.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link {
  background-color: #121212;
}

.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #ecf0f1;
  color: #2069e0;
}

.navbar .navbar-toggle {
  border-color: #121212;
}

.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #121212;
}

.navbar .navbar-toggle .navbar-toggler-icon {
  color: #ecf0f1;
}

.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #ecf0f1;
}

.navbar .navbar-link {
  color: #ecf0f1;
}

.navbar .navbar-link:hover {
  color: #2069e0;
}

@media (max-width: 480px) {
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbarnavbar-toggler {
    width: 20vw;
  }
  .navbar-toggler-icon {
    width: 8vw;
  }
  .navbar .navbar-brand {
    color: #ecf0f1;
    font-family: "papu1";
    font-size: 6vw;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .navbar .navbar-brand img {
    width: 18vw;
    height: 10vh;
  }
  .navbar .navbar-brand p {
    margin: 0;
    padding-top: 2.5vh;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #2069e0;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #2069e0;
    background-color: #121212;
  }
}

@media (max-width: 768px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #2069e0;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #2069e0;
    background-color: #121212;
  }
}

@media (max-width: 1024px) {
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #2069e0;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #2069e0;
    background-color: #121212;
  }
}

@media (max-width: 1200px) {
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #2069e0;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #2069e0;
    background-color: #121212;
  }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #ecf0f1;
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #2069e0;
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #2069e0;
  background-color: #121212;
}

.child {
  margin: 0 auto;
  min-height: 100vh;
  min-width: 100%;
  width: 100%;
  height: auto;
  background: url(../images/games-pubg-playerunknowns-battlegrounds-54922.jpg);
  background-size: cover;
  -webkit-transition: all 1s;
  transition: all 1s;
  background-position: center;
  z-index: 0;
}

.child:hover,
.child:focus {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

@media (max-width: 480px) {
  .child {
    background: url(../images/pubg-mobile-falcon-uhdpaper.com-4K-mobile-5.1735.jpg);
    background-size: cover;
    background-position: center;
    z-index: 0;
  }
}

.comingsoon {
  color: #ecf0f1;
  font-family: "papu1";
  margin-top: 2vh;
  font-weight: 100rem;
  font-size: 3rem;
  text-align: center;
}

.comingsoon .number {
  font-size: 3.5rem;
  color: #ce2029;
}

@media (max-width: 768px) {
  .comingsoon {
    font-size: 2rem;
  }
  .comingsoon .number {
    font-size: 2.5rem;
    color: #ce2029;
  }
}

@media (max-width: 480px) {
  .comingsoon {
    font-size: 1.5rem;
    margin-top: 2vh;
  }
  .comingsoon .number {
    font-size: 2rem;
    color: #ce2029;
  }
}

.days {
  font-size: 200px;
  color: #db4844;
}

.hours {
  font-size: 150px;
  color: #FFFFF0;
}

.minutes {
  font-size: 100px;
  color: #db4844;
}

.seconds {
  font-size: 50px;
  color: #FFFFF0;
}

#timer {
  line-height: 1;
  padding: 20px;
  font-size: 40px;
  font-family: 'Covered By Your Grace', cursive;
  text-align: center;
}

.days,
.hours,
.minutes,
.seconds {
  display: inline-block;
  line-height: 1;
  padding: 20px;
  font-size: 10rem;
}

span {
  display: block;
  font-size: 20px;
  color: white;
}

@media (max-width: 480px) {
  .days,
  .hours,
  .minutes,
  .seconds {
    display: inline-block;
    line-height: 1;
    padding: 20px;
    font-size: 4.5rem;
  }
}

.register {
  margin-top: 8vh;
  text-align: center;
  padding-bottom: 30px;
}

:root {
  --text-color: #FFFFF0;
  --shadow-color: #FFFFF0;
  --btn-color: #ce2029;
  --bg-color: #141218;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.register > .regi {
  position: relative;
  padding: 10px 20px;
  border: none;
  background: none;
  cursor: pointer;
  font-family: "papu";
  font-weight: 900;
  text-transform: uppercase;
  font-size: 30px;
  color: var(--text-color);
  background-color: var(--btn-color);
  -webkit-box-shadow: var(--shadow-color) 2px 2px 22px;
          box-shadow: var(--shadow-color) 2px 2px 22px;
  border-radius: 4px;
  z-index: 0;
  overflow: hidden;
}

.regi:focus {
  outline-color: transparent;
  -webkit-box-shadow: var(--btn-color) 2px 2px 22px;
          box-shadow: var(--btn-color) 2px 2px 22px;
}

.right::after,
.regi::after {
  content: var(--content);
  display: block;
  position: absolute;
  white-space: nowrap;
  padding: 40px 40px;
  pointer-events: none;
}

.regi::after {
  font-weight: 200;
  top: -30px;
  left: -20px;
}

.right,
.left {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.right {
  left: 66%;
}

.left {
  right: 66%;
}

.right::after {
  top: -30px;
  left: calc(-66% - 20px);
  background-color: var(--bg-color);
  color: transparent;
  -webkit-transition: -webkit-transform .4s ease-out;
  transition: -webkit-transform .4s ease-out;
  transition: transform .4s ease-out;
  transition: transform .4s ease-out, -webkit-transform .4s ease-out;
  -webkit-transform: translate(0, -90%) rotate(0deg);
          transform: translate(0, -90%) rotate(0deg);
}

.regi:hover .right::after {
  -webkit-transform: translate(0, -47%) rotate(0deg);
          transform: translate(0, -47%) rotate(0deg);
}

.regi .right:hover::after {
  -webkit-transform: translate(0, -50%) rotate(-7deg);
          transform: translate(0, -50%) rotate(-7deg);
}

.regi .left:hover ~ .right::after {
  -webkit-transform: translate(0, -50%) rotate(7deg);
          transform: translate(0, -50%) rotate(7deg);
}

/* bubbles */
.regi::before {
  content: '';
  pointer-events: none;
  opacity: .6;
  background: radial-gradient(circle at 20% 35%, transparent 0, transparent 2px, var(--text-color) 3px, var(--text-color) 4px, transparent 4px), radial-gradient(circle at 75% 44%, transparent 0, transparent 2px, var(--text-color) 3px, var(--text-color) 4px, transparent 4px), radial-gradient(circle at 46% 52%, transparent 0, transparent 4px, var(--text-color) 5px, var(--text-color) 6px, transparent 6px);
  width: 100%;
  height: 300%;
  top: 0;
  left: 0;
  position: absolute;
  -webkit-animation: bubbles 5s linear infinite both;
          animation: bubbles 5s linear infinite both;
}

@-webkit-keyframes bubbles {
  from {
    -webkit-transform: translate();
            transform: translate();
  }
  to {
    -webkit-transform: translate(0, -66.666%);
            transform: translate(0, -66.666%);
  }
}

@keyframes bubbles {
  from {
    -webkit-transform: translate();
            transform: translate();
  }
  to {
    -webkit-transform: translate(0, -66.666%);
            transform: translate(0, -66.666%);
  }
}

@media (max-width: 1200px) {
  .register > .regi {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .register > .regi {
    font-size: 13px;
  }
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 3vh;
  padding-right: 3.8vw;
}

.logo img {
  width: 50px;
}

.logo p {
  padding-left: 5px;
  color: #ecf0f1;
  font-family: "papu1";
  margin: 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.footer-distributed {
  font-family: "papu3";
  background-color: inherit;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 50px;
}

.copy {
  font-family: "papu4";
  font-size: small;
  color: #ecf0f1;
  padding-right: 3vw;
  padding-top: 20px;
  text-align: center !important;
}

.footer-distributed .footer-left {
  text-align: center;
}

.footer-distributed .footer-left p {
  color: #8f9296;
  font-size: 14px;
  margin: 0;
}

/* Footer links */
.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
  -webkit-transition: ease .25s;
  transition: ease .25s;
}

.footer-distributed p.footer-links a {
  padding-left: 1.5px;
  padding-right: 1.5px;
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  -webkit-transition: ease .25s;
  transition: ease .25s;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right {
  margin: 0 auto;
  max-width: 180px;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: inherit;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  -webkit-transition: all .25s;
  transition: all .25s;
}

.footer-distributed .footer-right a:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

.footer-distributed p.footer-links a:hover {
  color: #2069e0;
}

/* Media Queries */
@media (max-width: 600px) {
  .footer-distributed .footer-left,
  .footer-distributed .footer-right {
    text-align: center;
  }
  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }
}

body {
  font-family: 'Raleway', sans-serif;
}

.tab-style {
  font-size: 20px;
  width: 50%;
  background-color: #f2f2f2;
  text-align: center;
}

.nav-tabs > li > a {
  margin-right: 0px !important;
  color: grey !important;
}

.group2 {
  position: relative;
  margin-top: 16px;
}

.btn-block {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 18px;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  background-color: #e5ecf4 !important;
  color: #4a89dc !important;
}

.login-shadow {
  -webkit-box-shadow: 5px -5px 6px 0px rgba(82, 82, 82, 0.52);
  box-shadow: 5px -5px 6px 0px rgba(82, 82, 82, 0.52);
  z-index: 1;
}

.signup-shadow {
  -webkit-box-shadow: -5px 0px 6px 0px rgba(82, 82, 82, 0.52);
  box-shadow: -5px 0px 6px 0px rgba(82, 82, 82, 0.52);
}

.modal-header {
  background-color: #e5ecf4;
}

.group {
  position: relative;
  margin-top: 30px;
}

.input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  -webkit-appearance: none;
  display: block;
  background: none;
  color: #636363;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #757575;
}

.input:focus {
  outline: none;
}

/* Label */
.label {
  color: #757575;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: -10px;
  top: 10px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

/* active */
.input:focus ~ .label,
.input.used ~ .label {
  top: -20px;
  -webkit-transform: scale(0.75);
          transform: scale(0.75);
  left: -15px;
  /* font-size: 14px; */
  color: #4a89dc;
}

/* Underline */
.bar {
  position: relative;
  display: block;
  width: 100%;
}

.bar:before,
.bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #4a89dc;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

/* active */
.input:focus ~ .bar:before,
.input:focus ~ .bar:after {
  width: 50%;
}

/* Highlight */
.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/* active */
.input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
          animation: inputHighlighter 0.3s ease;
}

@media screen and (max-width: 767px) and (min-width: 576px) {
  #myModal {
    margin-left: 20%;
    margin-right: 20%;
  }
  #forgot-password {
    margin-left: 20%;
    margin-right: 20%;
  }
}

@media screen and (min-width: 768px) {
  #myModal .modal-dialog {
    width: 500px;
  }
  #forgot-password .modal-dialog {
    width: 500px;
  }
  .modal-body {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.modal-body {
  background-image: url("http://res.cloudinary.com/rinma/image/upload/v1500489833/Airplane-flying-desktop-pictureproba2_rlcced.jpg");
  background-size: cover;
  z-inedx: 4;
}

em {
  display: none;
}

hr {
  height: 10px;
  border: 0;
  -webkit-box-shadow: 0 10px 10px -10px #8c8b8b inset;
          box-shadow: 0 10px 10px -10px #8c8b8b inset;
}
/*# sourceMappingURL=styles.css.map */