@import url(https://fonts.googleapis.com/css?family=Covered+By+Your+Grace);
@font-face {
  font-family: "papu";
  src: url(../fonts/FARRAY.otf);
}

@font-face {
  font-family: "papu1";
  src: url(../fonts/HalogenRoughbyPixelSurplus-Regular.otf);
}

@font-face {
  font-family: "papu2";
  src: url(../fonts/metallord.otf);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

html body {
  height: 100%;
  background-color: #121212;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.navbar {
  background-color: #121212;
  font-family: "papu";
  z-index: 2;
}

.navbar .navbar-brand {
  color: #ecf0f1;
  font-family: "papu1";
  font-size: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .navbar-brand img {
  width: 100px;
}

.navbar .navbar-brand p {
  color: #ecf0f1;
  margin: 0;
  padding-top: 15px;
  padding-left: 25px;
}

.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #2069e0;
}

.navbar .navbar-text {
  color: #ecf0f1;
}

.navbar .navbar-text a {
  color: #2069e0;
}

.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
  color: #2069e0;
}

.navbar .navbar-nav .nav-link {
  color: #ecf0f1;
  border-radius: .25rem;
  margin: 0 0.25em;
}

.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #2069e0;
}

.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link {
  background-color: #121212;
}

.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #ecf0f1;
  color: #2069e0;
}

.navbar .navbar-toggle {
  border-color: #121212;
}

.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #121212;
}

.navbar .navbar-toggle .navbar-toggler-icon {
  color: #ecf0f1;
}

.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #ecf0f1;
}

.navbar .navbar-link {
  color: #ecf0f1;
}

.navbar .navbar-link:hover {
  color: #2069e0;
}

@media (max-width: 574px) {
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbarnavbar-toggler {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: 20vw;
  }
  .navbar-toggler-icon {
    width: 20vw;
  }
  .navbar .navbar-brand {
    color: #ecf0f1;
    font-family: "papu1";
    font-size: 6vw;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .navbar .navbar-brand img {
    width: 18vw;
    height: 10vh;
  }
  .navbar .navbar-brand p {
    margin: 0;
    padding-top: 2.5vh;
    padding-left: 10vw;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #2069e0;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #2069e0;
    background-color: #121212;
  }
}

@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #2069e0;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #2069e0;
    background-color: #121212;
  }
}

@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #2069e0;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #2069e0;
    background-color: #121212;
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #2069e0;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #2069e0;
    background-color: #121212;
  }
}

@media (max-width: 1199px) {
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #2069e0;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #2069e0;
    background-color: #121212;
  }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #ecf0f1;
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #2069e0;
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #2069e0;
  background-color: #121212;
}

.child {
  margin: 0 auto;
  min-height: 100vh;
  min-width: 100%;
  width: 100%;
  height: auto;
  background: url(../images/games-pubg-playerunknowns-battlegrounds-54922.jpg);
  background-size: cover;
  -webkit-transition: all 1s;
  transition: all 1s;
  background-position: center;
  z-index: 0;
}

.child:hover,
.child:focus {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.comingsoon {
  color: #ecf0f1;
  font-family: "papu1";
  margin-top: 15vh;
  font-weight: 100rem;
  font-size: 3rem;
  text-align: center;
}

.comingsoon .number {
  font-size: 3.5rem;
  color: #ce2029;
}

.days {
  font-size: 200px;
  color: #db4844;
}

.hours {
  font-size: 150px;
  color: #f07c22;
}

.minutes {
  font-size: 100px;
  color: #f6da74;
}

.seconds {
  font-size: 50px;
  color: #abcd58;
}

#timer {
  line-height: 1;
  padding: 20px;
  font-size: 40px;
  font-family: 'Covered By Your Grace', cursive;
  text-align: center;
  margin-top: 10vh;
}

.days,
.hours,
.minutes,
.seconds {
  display: inline-block;
  line-height: 1;
  padding: 20px;
  font-size: 10rem;
}

span {
  display: block;
  font-size: 20px;
  color: white;
}
/*# sourceMappingURL=styles.css.map */